@import "reset";
@import "easing";
@import "settings";

html {
  background-color: $color-white;
  box-sizing: border-box;
  color: $color-black;
  font-family: $font-body;
  font-size: $font-size-base;
  height: 100%;
  line-height: $line-height-base;
}

*,
*:before,
*:after {
  box-sizing: inherit;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(#000, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: $color-red;
  color: $color-white;
}

a {
  color: $color-red;
  text-decoration: none;
  transition: color $transition-speed $transition-ease;
}


.container {
  display: block;
  margin: 0 auto;
  max-width: 600px;
}

.saying-item {
  display: block;
  width: 100%;
}

.matheny-header__content {
  margin: 30px auto;
  text-align: center;
  width: 100%;
}

  .matheny-header__image {
    border: 1px solid $color-border;
    border-radius: 50%;
  }

  .matheny-header__title {
    font-size: 64px;
    font-weight: 700;
  }

.matheny-form {
  display: block;
  margin-bottom: 40px;
  overflow: hidden;
}

.matheny-input {
  border: 1px solid $color-border;
  float: left;
  font: $font-body !important;
  font-size: 24px;
  height: 40px;
  margin-top: 10px;
  outline: none;
  padding: 5px 20px;
  width: percentage(5/6);
}

.matheny-button {
  background-color: $color-red;
  border: 1px solid $color-red;
  color: $color-white;
  float: left;
  font: $font-body !important;
  font-size: 16px;
  height: 40px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
  width: percentage(1/6);
}

.saying-list {
  margin: 40px 0;
}

  .list__title {
    font-size: 24px;
    font-weight: 700;
  }

.saying-item {
  border-bottom: 1px solid $color-border;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 20px;

  &:last-of-type {
    border-bottom: none;
  }
}

  .item__content-count {
    color: $color-light;
    font-size: 14px;
    font-weight: 200;
    padding-left: 20px;
  }

  .item__meta {
    overflow: hidden;
  }
  .item__meta-timestamp {
    color: $color-light;
    float: left;
    font-size: 12px;
    font-weight: 200;
  }

  .item__meta-controls {
    float: right;
    font-size: 12px;
    font-weight: 200;
  }

  .item__meta-plus {
    padding: 0 10px;
  }

.matheny-footer__content {
  border-top: 1px solid $color-border;
  color: $color-light;
  font-size: 14px;
  padding: 20px 0 50px;
  text-align: center;
}
