<section class="saying-list">
  <h2 class="list__title">Recently Heard</h2>
  {{#each recentTopItems as |item|}}
    {{saying-item model=item gotoAction="gotoItem" isAdmin=admin}}
  {{/each}}
</section>


<form class="khabie-form" {{action 'createSaying' on='submit'}}>
  <label class="list__title">What Did You Hear?</label>
  {{input value=sayingText classNames="khabie-input" placeholder="it's gonna be awesome"}}
  <button class="khabie-button">Submit</button>
</form>

{{link-to 'See All khabie-isms' 'sayings.all'}}
