<section class="saying-list">
  <h2 class="list__title">Recently Heard</h2>
  {{#each recentTopItems as |item|}}
    {{saying-item model=item gotoAction="gotoItem"}}
  {{/each}}
</section>

<form class="matheny-form" {{action 'createSaying' on='submit'}}>
  <label class="list__title">What Did You Hear?</label>
  {{input value=sayingText classNames="matheny-input" placeholder="inside there"}}
  <button class="matheny-button">Submit</button>
</form>
