<header class="matheny-header">
  <div class="container">
    <div class="matheny-header__content">
      <img class="matheny-header__image" src="images/matheny.png" alt="Matheny" />
      <h1 class="matheny-header__title">{{link-to 'Matheny-isms' 'sayings'}}</h1>
    </div>
  </div>
</header>


<main class="matheny-main">
  <div class="container">
    {{outlet}}
  </div>
</main>

<footer class="matheny-footer">
  <div class="container">
    <div class="matheny-footer__content">
      built with &hearts; by <a href="//twitter.com/pettpett">David Pett</a>
    </div>
  </div>
</footer>
