<header class="khabie-header">
  <div class="container">
    <div class="khabie-header__content">
      <img class="khabie-header__image" src="images/khabie.jpg" alt="khabie" />
      <h1 class="khabie-header__title">{{link-to 'khabie-isms' 'sayings'}}</h1>
    </div>
  </div>
</header>


<main class="khabie-main">
  <div class="container">
    {{outlet}}
  </div>
</main>

<footer class="khabie-footer">
  <div class="container">
    <div class="khabie-footer__content">
      built with &hearts; by <a href="//twitter.com/pettpett">David Pett</a>
    </div>
  </div>
</footer>
